# Misc
.idea/
.vscode/

# Frontend ignores
frontend/node_modules/
frontend/.pnp/
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/.DS_Store

# Backend ignores 
backend/target 
backend/Cargo.lock
backend/.cargo

# Execution ignores
execution/target
execution/Cargo.lock
execution/.cargo

# Docs 

